body {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}
section {
  display: flex;
  margin-left: 150px;
}
.left-roll {
  margin-top: 62px;

  background-color: red;
  height: 110px;
  width: 4px;
  border-radius: 5px;
}
.description {
  padding-right: 200px;
  margin-bottom: 30px;
}
.scroll {
  margin-top: 40px;
}
.half-width {
  width: 50%;
  margin-top: 40px;
}
.half-width img {
  width: 60%;
  margin-left: 50px;
}

h1 {
  font-size: 50px;
  margin: 0px 0px 0px 10px;
}

.text-color {
  color: lightcoral;
}
a {
  font-weight: 600;
  padding: 10px 40px;
}
.link-button {
  background-color: rgb(199, 28, 128);
  color: rgb(235, 230, 224);
  border-radius: 5px;
  text-decoration: none;
}
.center {
  text-align: center;
  padding-top: 70px;
}
.img {
  width: 50%;
}
.second {
  display: flex;
}
.mission {
  width: 33%;
  background-color: rgb(127, 207, 207);
}
.vision {
  width: 33%;
}
.goals {
  width: 33%;
}
